@{
    ViewData["Title"] = "Hakkında";

}
<partial name="_HeaderPartial" />



<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('/backup/images/about.jpg');">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                <div class="heading-section">
                    <span class="subheading">1905'den beri</span>
                    <h2 class="mb-4">Hayatın yeni bir tatla buluşması</h2>

                    <p>Bu, keşif dolu bir anın habercisi; bilinmeyene atılan cesur bir adımın öyküsü. Aniden beliren bu tat, heyecan ve merakla karışık bir duygu dalgası yaratıyor. Yeni deneyimlerin kapıları ardına kadar açılıyor ve yaşamın renk paletine bir dokunuş daha ekleniyor.</p>
                    <p>Arzularımızın peşinden gitmek, hayatın bize sunabileceği sınırsız lezzetlerin anahtarı olabilir. Belki de bu, içindeki keşfedilmemiş dünyalara doğru bir yolculuğun başlangıcıdır.</p>
                    <p class="year">
                        <strong class="number" data-number="118">0</strong>
                        <span>Yıllık Tecrübe</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<br />
<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="3000">0</strong>
                        <span>Memnun müşteri</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="118">0</strong>
                        <span>Yıllık Tecrübe</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="100">0</strong>
                        <span>Çeşit Likör</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text align-items-center">
                        <strong class="number" data-number="40">0</strong>
                        <span>Şube</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>