@model LiquorShop.Areas.Admin.Models.Blog
@{
    ViewData["Title"] = @Model.Title;

}
<partial name="_HeaderPartial" />

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <p>
                    <img src="~/backup/images/@Model.ImagePath" class="img-fluid">
                </p>
               

                @Html.Raw(Model.Content)

            </div> <!-- .col-md-8 -->


        </div>
    </div>
</section> <!-- .section -->