@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_HeaderPartial" />
<section class="ftco-section">
			<div class="container">
			
				<div class="row">
					<div class="col-md-3 d-flex">
						<div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('backup/images/bacardi.jpg');">
								<div class="desc">
									<p class="meta-prod d-flex">
								
								<a asp-action="ProductPost" asp-controller="Home" asp-route-id="13" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
									</p>
								</div>
							</div>
							<div class="text text-center">
								
								<span class="category">Rom</span>
								<h2>Bacardi 151</h2>
								<p class="mb-0"><span class="price">2200.00₺</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('backup/images/jb.jpg');">
								<div class="desc">
									<p class="meta-prod d-flex">
								
								<a asp-action="ProductPost" asp-controller="Home"asp-route-id="14" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
									</p>
								</div>
							</div>
							<div class="text text-center">
								<span class="category">Viski</span>
								<h2>Jim Beam Kentucky</h2>
								<span class="price">890.00₺</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="product ftco-animate">
					<div class="img d-flex align-items-center justify-content-center" style="background-image: url('backup/images/citadelle.jpg');">
								<div class="desc">
									<p class="meta-prod d-flex">
							
								<a asp-action="ProductPost" asp-controller="Home"asp-route-id="15" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
									</p>
								</div>
							</div>
							<div class="text text-center">
								<span class="category">Rom</span>
								<h2>Citadelle</h2>
								<span class="price">780.00₺</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="product ftco-animate">
					<div class="img d-flex align-items-center justify-content-center" style="background-image: url('backup/images/glev.jpg');">
								<div class="desc">
									<p class="meta-prod d-flex">
							
								<a asp-action="ProductPost" asp-controller="Home"asp-route-id="16" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
									</p>
								</div>
							</div>
							<div class="text text-center">
								<span class="category">Viski</span>
								<h2>The Glenlivet</h2>
								<span class="price">1500.00₺</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-4">
						<a href="/urunler" class="btn btn-primary d-block">Bütün ürünleri gör<span class="fa fa-long-arrow-right"></span></a>
					</div>
				</div>
			</div>
		</section>
<section class="ftco-section testimony-section img" style="background-image: url('backup/images/bg_4.jpg');">
	<div class="overlay"></div>
	<div class="container">

		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap py-4">
							<div class="icon d-flex align-items-center justify-content-center"> <span class="flaticon-support"></span></div>
							<div class="text">
								<p class="name">Online Destek 24/7</p>
								<p class="mb-4">Tüketicilerimize 7 gün 24 saat destek vermekten memnuniyet duyarız.</p>

							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4">
							<div class="icon d-flex align-items-center justify-content-center"> <span class="flaticon-cashback"></span></div>
							<div class="text">
								<p class="name">Koşulsuz iade</p>
								<p class="mb-4">Hatalı ürünlerde koşulsuz şartsız para iadesi imkanı.</p>

							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-free-delivery"></span></div>
							<div class="text">
								<p class="name">Koşulsuz iade</p>
								<p class="mb-4">Hatalı ürünlerde koşulsuz şartsız para iadesi imkanı.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
